{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add note</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Добавление заметки</h1>

<form action="" method="post">
    {% csrf_token %}
    <!--    <label for="title">Название</label>-->
    <!--    <input type="text" name="title" id="title">-->
    <!--    <label for="pubdate">Дата и время</label>-->
    <!--    <input type="datetime-local" name="pub_date" id="pubdate">-->
    <!--    <label for="text">Текст</label>-->
    <!--    <textarea name="text" id="text"></textarea>-->
    {{ form }}
    <button type="submit">Отправить</button>
    <button type="reset">Сбросить</button>
</form>

{% if form.errors %}
    {{ form.errors }}
{% endif %}

</body>
</html>